@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
* :not(span){
  font-family: "Neucha", cursive;
  background-color:#F8F8FF ;
}
body {
  margin: 5px;
}

code {
  font-family: "Neucha", cursive;
}


